.main-containerApp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1% auto 1%;
    vertical-align: middle;
    width: 70%;
    padding: 40px;
    background-color: #D6D7DB;
}

.header-containerApp{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F7F6F9;
    padding: 3% 4% 3%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

}

.left-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #FFFFFF;
    padding: 3% 3% 3%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.title-weather{
    text-decoration: underline;
    font-size: 14px;
}

.button-C-F{
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: white;
    border: none;
    margin-right: 18.8%;
}

.button-container{
    display: flex;
}

.main-container-c1{
    border-bottom-left-radius: 50%;
}

.search-container{
    width: 100%;
    display: flex;
    justify-self: baseline;
    
}

.input{
    margin-top: 8%;
    border: none;
}

.icon-location{
   font-size: 30px; 
   width: 1em;
   height: 1em;
   padding-top: 2px;
   padding-left: 1.2px;
}

.title-highligth{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.invisible{
    opacity: 0;
}

.week-container{
    margin-top: 2%;
    margin-bottom: 2%;
}

.no-button{
    border-style: none;
    background-color: #F7F6F9;
}