.main-containerApp{
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 50px auto 30px;

}

.right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.header-containerApp{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

