.main-containerApp{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 1rem auto 1rem; 
    height: 95vh;
}

.header-containerApp{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F7F6F9;
    padding: 2% 3% 2%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #FFFFFF;
    padding: 2% 3% 2%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}

.title-weather{
    text-decoration: underline;
}




