*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: '100';
  src: url("./fonts/Roboto/Roboto-Thin.ttf") /*No se coloca la carpeta css al principio porque ya esta declarada en el style.css*/ 
}



body{
  background-color: #D6D7DB;
  font-family: 'Roboto', sans-serif;
}



