*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /*No se coloca la carpeta css al principio porque ya esta declarada en el style.css*/ 
}

body{
  background-color: #D6D7DB;
  font-family: 'Roboto', sans-serif;
  margin: 2rem 3rem;
}



