.main-container-week{
    padding: 2% 1%;
    border-radius: 12px;
    background-color: #FFFFFF;
    min-width: 12%;
    margin: 0.9%;
}

.name-day{
    font-size: 70%;
    color:#1A1A1A;
    padding-bottom: 5px;
}

.img-current-weather-day{
    width: 40px;
    margin-bottom: 2%;
}

.high-temp{
    font-size: 70%;
    color: #1A1A1A;
}

.low-temp{
    font-size: 80%;
    color:#CECECE;
}