.main-container-week{
    padding: 1% 2%;
    border-radius: 15px;
    background-color: #FFFFFF;
    min-width: 12%;
    margin: 0.5%;
}

.name-day{
    font-size: 16px;
    color:#1A1A1A;
    padding-bottom: 5px;
}

.img-current-weather-day{
    width: 40px;
    margin-bottom: 2%;
}

.high-temp{
    font-size: 13px;
    color:#1A1A1A;
}

.low-temp{
    font-size: 13px;
    color:#CECECE;
}